option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /var/app/current/public
  aws:elasticbeanstalk:environment:proxy:proxy:
    ProxyServer: nginx
    ProxyConnections: 4096
  aws:elasticbeanstalk:environment:loadbalancer:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: ${SSL_CERTIFICATE_ARN}
  aws:elasticbeanstalk:environment:loadbalancer:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: default 